:host {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

body {
    background: #000;
    overflow: hidden; // Prevent scrolling based on full screen visualizer
}